NodeRed/flow.json
[{"id":"19f4b2314e62c574","type":"tab","label":"Flow 2","disabled":false,"info":"","env":[]},{"id":"d1bf9de584201b3c","type":"mqtt in","z":"19f4b2314e62c574","name":"IN","topic":"Vaga","qos":"0","datatype":"auto-detect","broker":"f4162c83213954d0","nl":false,"rap":true,"rh":0,"inputs":0,"x":50,"y":360,"wires":[["60f7c67ce0ce1530","6d53c5dd26f1a4ca"]]},{"id":"60f7c67ce0ce1530","type":"debug","z":"19f4b2314e62c574","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":170,"y":240,"wires":[]},{"id":"17f879dc2bef2e35","type":"ui_text","z":"19f4b2314e62c574","group":"3c7c445ddf1bb621","order":1,"width":"0","height":"0","name":"","label":"Vagas disponíveis: ","format":"{{msg.payload}}","layout":"row-center","className":"","x":1590,"y":380,"wires":[]},{"id":"6d53c5dd26f1a4ca","type":"switch","z":"19f4b2314e62c574","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"A","vt":"str"},{"t":"eq","v":"B","vt":"str"},{"t":"eq","v":"AB","vt":"str"},{"t":"eq","v":"X","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":270,"y":340,"wires":[["2e649c78182d3dc7"],["9504f551f84cccab"],["04c3a0977994e5b8"],["1b6a2287eec99458"]]},{"id":"2e649c78182d3dc7","type":"function","z":"19f4b2314e62c574","name":"A","func":"msg.payload = \"Somente a vaga A disponível\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":890,"y":200,"wires":[["17f879dc2bef2e35","ace90b1390188d6c"]]},{"id":"9504f551f84cccab","type":"function","z":"19f4b2314e62c574","name":"B","func":"msg.payload = \"Somente a vaga B disponível \"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":890,"y":300,"wires":[["17f879dc2bef2e35","e6c4220736500815"]]},{"id":"04c3a0977994e5b8","type":"function","z":"19f4b2314e62c574","name":"AB","func":"msg.payload = \"Ambas as vagas disponíveis\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":910,"y":420,"wires":[["17f879dc2bef2e35","b92fd69a2981ac31"]]},{"id":"1b6a2287eec99458","type":"function","z":"19f4b2314e62c574","name":"X","func":"msg.payload = \"Nenhuma vaga disponível \"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":910,"y":560,"wires":[["17f879dc2bef2e35","ffb250028146ac3a"]]},{"id":"ace90b1390188d6c","type":"debug","z":"19f4b2314e62c574","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":160,"wires":[]},{"id":"e6c4220736500815","type":"debug","z":"19f4b2314e62c574","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":260,"wires":[]},{"id":"b92fd69a2981ac31","type":"debug","z":"19f4b2314e62c574","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":380,"wires":[]},{"id":"ffb250028146ac3a","type":"debug","z":"19f4b2314e62c574","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":520,"wires":[]},{"id":"0ee00fd15d88096f","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1e1aa45af1a59660","type":"aedes broker","z":"0ee00fd15d88096f","name":"","mqtt_port":1883,"mqtt_ws_bind":"port","mqtt_ws_port":"","mqtt_ws_path":"","cert":"","key":"","certname":"","keyname":"","dburl":"","usetls":false,"x":770,"y":240,"wires":[[],[]]},{"id":"52cdf3cf833fd28f","type":"mqtt out","z":"0ee00fd15d88096f","name":"OUT","topic":"Vaga","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"f4162c83213954d0","x":870,"y":360,"wires":[]},{"id":"fa9f8fb07941486f","type":"inject","z":"0ee00fd15d88096f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"X","payloadType":"str","x":630,"y":540,"wires":[["52cdf3cf833fd28f"]]},{"id":"ab52af92126d31ba","type":"inject","z":"0ee00fd15d88096f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"A","payloadType":"str","x":630,"y":360,"wires":[["52cdf3cf833fd28f"]]},{"id":"7a22c31ec85d2eb4","type":"inject","z":"0ee00fd15d88096f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"AB","payloadType":"str","x":630,"y":480,"wires":[["52cdf3cf833fd28f"]]},{"id":"b953ddce96590120","type":"inject","z":"0ee00fd15d88096f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"B","payloadType":"str","x":630,"y":420,"wires":[["52cdf3cf833fd28f"]]},{"id":"f4162c83213954d0","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"1","birthPayload":"123","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"3c7c445ddf1bb621","type":"ui_group","name":"Vagas do estacionamento","tab":"e88134e67a7770c6","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"e88134e67a7770c6","type":"ui_tab","name":"Estacionamento","icon":"dashboard","disabled":false,"hidden":false}]